@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fjalla+One&family=Work+Sans&display=swap') ;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

header h4 h1 {
    display: flex;
    justify-content: center;
font-family : "Work Sans";
margin-top : 1em;
}

main {margin: 0 auto;
    position: relativ;
    width: 60vw;
    border: 1px solid black;
    padding: 5%;
}

